/*
:root{
    font-size: 0.35cm;
}
*/

div{
    border: 1px solid red;
}
span{
    background-color: aquamarine;

}

.emx14 {

    font-size: 1.4em;
}

.remx14{
    font-size: 1rem;
    background-color: pink;
}

.mitadAncho{
    width: 50%;
    border: 1px solid blue;
    font-size: 1em;
}

.tercioPantalla{
    border: 1px solid orange;
    width: 33vw;
    font-size: 1.5vw;
}

.decimoAltoPantalla{
    border: 1px solid red;  
    height: 10vh;
    /*height: 10%;*/
}

.decimoAltoPantallaP{
    border: 1px solid magenta;  
    height: 25%;
    
}

.decimoAnchoAlto{
    border: 1px solid green;
    height: 10vh;
}

.cmcm{
    font-size: 1cm;
}
.cmmm{
    font-size: 10mm;
}
.cmin{
    font-size: 0.4in;
}
.cmpx{
    font-size: +35px;
}
.cmpt{
    font-size: 30pt;
}

